* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    vertical-align: middle;
    border-style: none;
}

.p {
    font-family: Arial, Helvetica, sans-serif;
}

/* Header */
.header {
    position: fixed;
    width: 100%;
    z-index: 10;
}

.navbar {
    background: rgba(25, 25, 25, 0.8);
}

h1 a span {
    color: #00cdce;
}

h1 a.navbar-brand {
    font-size: 56px;
    color: #fff !important;
    text-transform: capitalize;
    font-weight: 400;
    letter-spacing: 2px;
}

.navbar-nav li a {
    color: #fff !important;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 1px;
    margin: 0 1em;
    background-color: rgba(12, 11, 11, 0);
    border: none;
    border-bottom: 2px solid #fff;
    transition: all 1s;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
}

.navbar-nav li a:hover {
    color: rgb(0, 205, 206) !important;
    border-bottom: 0px;
}

/* End Header */

/* Carousel */
.carousel-inner img {
    width: 100%;
    height: 100%;
}

.carousel-indicators li {
    width: 10px !important;
    height: 10px !important;
    border-radius: 50% !important;
}

.lorem {
    top: 42%;
}

.lorem h1 {
    font-weight: bold;

}

.lorem p {
    font-size: 2rem;
    color: rgb(183, 189, 187);
}

/* End Carousel */

/* About */
.about-title h1 {
    font-weight: 500;
    margin-top: 3em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.circel {
    border-radius: 50%;
    border: 1px solid gray;
    width: 100px;
    height: 100px;
}

.circel:hover {
    cursor: pointer;
    color: white;
    background-color: #00cdce;
    transition: all 1s;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
}

.circel span {
    margin: 33px;
    font-size: 35px;
    cursor: pointer;
}

.remlo p {
    text-align: center;
    line-height: 2em;
    font-size: 16px;
    color: rgb(183, 189, 187);
    margin-top: .8em;
}

.cir {
    text-align: -webkit-center;
}

.fa {
    display: inline-block;
}

.about-us h2 {
    color: #00cdce;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.about-us p {
    font-size: 15px;
    line-height: 30px;
    margin: 5px 0 0 0;
    color: rgb(0, 0, 0);
}

/* End About */

/* Stats */
.stats {
    background: rgb(0, 205, 206);
    margin-top: 75px;
    padding-top: 65px;
    letter-spacing: 1px;
    padding-bottom: 4em;
}

.stats1 {
    text-align: center;
}

.stats h1 {
    font-weight: 500;
    margin-bottom: 0.8em;
}

.count {
    font-size: 65px;
    color: white;
}

.client h4 {
    font-size: 30px;
    letter-spacing: 2px;
    font-weight: 400;
    margin-top: 5px;
    color: #000;
}

/* End Stats */

/* Blog */
.blog h1 {
    font-weight: 600;
}

.card {
    border-top: 5px solid #00cdce !important;
    border-radius: 0px !important;
}

.card-body {
    text-align: left !important;
}

.card-body h4 {
    font-size: 1.6em !important;
    font-weight: 500 !important;
    letter-spacing: 1px;
}

.card-body h4>a {
    text-decoration: none;
    color: #00cdce;
    transition: all 1s;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
}

.card-body h4>a:hover {
    color: #000;
}

.card-body p {
    letter-spacing: 1px !important;
    margin: .5em 0em;
    line-height: 26px;
    font-size: 17px;
}

.card-body a {
    color: #00cdce;
    letter-spacing: 1px;
    border-radius: 0px !important;
}

.modal-header {
    background: #00cdce;
    font-size: 2.6em;
    color: #fff;
    text-transform: capitalize;
    font-weight: 600;
    border-radius: 0px !important;
}

.modal-header h4 {
    font-size: 30px;
    line-height: 0px;
    padding-left: 45px;
}

.modal-header .close {
    margin: 0px !important;
    line-height: 0px;
    font-size: 1em;
    color: #a0260f;
    opacity: 1;
}

.modal-body p {
    color: #999;
    text-align: justify;
    line-height: 2em;
    padding: 2em 2em 1em;
}

div.img {
    background-image: url(../images/video.jpg) !important;
    background-repeat: no-repeat;
    background-size: cover;
}

.button {
    margin: 8.99em 0em 0em;
    text-align: center;
}

.button a {
    padding: 16px 19px;
    display: inline-block;
    background: rgba(0, 189, 189, 0.53);
    border-radius: 55%;
    color: #ffffff;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
    transition: 0.5s all;
}

.button span {
    font-size: 35px;
}

.end-blog {
    background: #00cdce;
}

.end-blog h1 {
    margin: 1em 0 .5em;
    font-size: 42px;
    font-weight: 400;
}

.end-blog p {
    font-size: 17px;
    letter-spacing: 1px;
    color: #fff;
    line-height: 2em;
    text-align: center;
    padding: 0em 5.5em;
}

.end-blog a {
    color: #00cdce;
    letter-spacing: 1px;
    border-radius: 0px !important;
    margin: 0 0 2em;
}

.play {
    margin-top: 5em;
    display: flex;
}

.modal-body {
    background: #fff;
    padding: 2em;
    max-width: 500px;
    margin: 40px auto;
    position: relative;
    text-align: center;
}

.modal-header1 .close {
    font-size: 3em;
    color: #a0260f;
    opacity: 1;
}

/* End Blog */

/* Portfolio */
.con h1 {
    color: #000;
    font-size: 4em;
    font-weight: 500;
    letter-spacing: 2px;
}

.grid figure {
    margin: 1px 1% !important;
    background: rgba(0, 0, 0, .72);
    width: 100% !important;
}

.grid figure figcaption h3 {
    padding: 1em 0;
    border-top: 1px solid;
    border-bottom: 1px solid;
    margin-bottom: 0.2em;
    color: #00cdce;
    text-transform: uppercase;
}

/* End Porfolio */

/* Subscribe */
.subscribe {
    background: #00cdce;
    padding-bottom: 3em;
}

.click h1 {
    text-align: center;
    padding-top: 1em;
    font-size: 4em;
    font-weight: 400;
    margin-bottom: 0.8em;
}

.click p {
    text-align: center;
    font-size: 15px;
    color: #ffffff;
    padding: 1em 11em;
}

.input-content {
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

.input [type='email'] {
    width: 100%;
    padding: 15px;
    border: none;
    font-size: 13px;
    color: #000000;
    font-weight: 600;
    outline: none;
    letter-spacing: 1px;
}

.click-1 {
    border: 1px solid black;
    width: 30%;
    height: 35%;
    margin: 0 auto;
    background: black;
}

.click-1 p {
    font-size: 25px;
    letter-spacing: 2px;
    color: white;
    line-height: 47px;
    font-weight: 350;
}

.click-1 p:hover {
    color: #000;
    background-color: #dfdfdf;
    cursor: pointer;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
    transition: 0.5s all;
}

/* End Subscribe */

/* Agents */
.title-agents h1 {
    margin-top: 1em;
    font-weight: 400;
    letter-spacing: 2px;
}

.agents {
    margin-top: 3em;
}

.card-img-top {
    border-top-left-radius: 0px !important;
    border-top-right-radius: 0px !important;
}

.card-body2 {
    background: rgb(54, 54, 54);
    text-align: center;
    padding: 0.3em 1em;
    transition: all 0.5s;
}

.card-title2 {
    color: rgb(0, 205, 206);
}

.card-title2:hover {
    color: white;
}

.card-text2 {
    color: white;
    font-size: .9em;
}

.card-body2 ul li {
    display: inline;
    margin: 0 10px;
}

.card-body2 ul li>a i {
    border: 2px solid white;
    width: 30px;
    height: 30px;
    line-height: 27px;
    color: white;
}

.card-body2 ul li>a i.fa.fa-facebook:hover {
    background: #337ab7;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
    transition: 0.5s all;
}

.card-body2 ul li>a i.fa.fa-twitter:hover {
    background: #55acee;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
    transition: 0.5s all;
}

.card-body2 ul li>a i.fa.fa-rss:hover {
    background: #f26522;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
    transition: 0.5s all;
}

/* End Agents */

/* Contact */
.contact {
    margin-top: 5em;
    border: 2px solid #00b6e3;
    background: #bbb;
    padding: 1em;
}

.contact-2 {
    margin: 3em;
}

.contact-2 h1 {
    font-weight: 500;
}

.contact-content li {
    list-style: none;
}

.mess textarea,
.contact-content li>input[type='text'],
input[type='email'],
input[type='phone'] {
    width: 100%;
    color: #000;
    background: rgb(239, 239, 239) !important;
    font-size: 1em;
    padding: .8em 1em;
    margin-bottom: 2em;
    border: none;
    border-bottom: solid 2px #999;
    transition: all 0.5s linear;
    -webkit-transition: all 0.5s;
}

.mess textarea {
    font-size: 14px;
    min-height: 15.6em;
}

.submit input[type='submit'] {
    width: 100%;
    transition: 0.5s all;
    border: none;
    cursor: pointer;
    background: #000;
    color: white;
    padding: 0.79em 5em;
}

.submit input:hover {
    background: rgb(0, 205, 206);
}

/* End Contact */

/* Footer */
.footer {
    background: rgb(0, 205, 206);
    padding: 2em 0;
}

.footer-2 {
    margin-top: 1.2em;
    text-align: center;
}

.footer-2 p {
    color: white;
    font-size: 19px;
}

.footer-2 p a {
    color: red;
    text-decoration: none;
    font-weight: 100;
}

.footer-2 p a:hover {
    color: white;
    transition: 0.5s all;
}

.footer-3 ul {
    text-align: center;
    margin-top: 1.2em;
}

.footer-3 ul>li {
    display: inline-block;
}

.footer-3 ul>li a {
    color: white;
}

.footer-3 ul>li i {
    border: 1px solid white;
    /* padding: 10px; */
    width: 35px;
    height: 35px;
    line-height: 35px;
    margin-right: 1.5em;
    text-align: center;
}

.footer-3 ul>li i.fa.fa-facebook:hover {
    color: #337ab7;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
    transition: 0.5s all;
}

.footer-3 ul>li i.fa.fa-twitter:hover {
    color: #55acee;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
    transition: 0.5s all;
}

.footer-3 ul>li i.fa.fa-rss:hover {
    color: #f26522;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
    transition: 0.5s all;
}

.footer-3 ul>li i.fa.fa-vk:hover {
    color: red;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
    transition: 0.5s all;
}

/* End Footer */

/* Go To Top */
#btn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 999;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: red;
    color: white;
    cursor: pointer;
    padding: 15px;
    width: 64px;
    height: 64px;
    /* border-radius: 4px; */
    background: url(../images/arrowup.png)no-repeat 0px 0px;
}

/* End Go To Top */

/* Responsive */
@media (max-width: 440px) {
    body {
        width: fit-content;
        overflow: auto !important;
    }

    .carousel.slide {
        top: 100px;
    }

    .carousel-caption {
        top: 50px;
    }

    .carousel-caption.lorem h1 {
        font-size: 1.5em;
    }

    .carousel-caption.lorem p {
        font-size: 1em;
    }

    .end-blog p {
        padding: 15px 0px;
        font-size: unset;
        line-height: unset;
    }
}

@media (max-width: 414px) {
    body {
        width: fit-content;
        overflow: auto !important;
    }

    .carousel.slide {
        top: 100px;
    }

    .carousel-caption.lorem h1 {
        font-size: 1.5em;
    }

    .carousel-caption.lorem p {
        font-size: 1em;
    }

    .end-blog p {
        padding: 15px 0px;
        font-size: unset;
        line-height: unset;
    }
}

@media (max-width: 480px) {
    body {
        width: fit-content;
        overflow: auto !important;
    }

    .carousel.slide {
        top: 100px;
    }

    .carousel-caption.lorem h1 {
        font-size: 1.5em;
    }

    .carousel-caption.lorem p {
        font-size: 1em;
    }

    .end-blog p {
        padding: 15px 0px;
        font-size: unset;
        line-height: unset;
    }

    .click p {
        padding: unset;
    }

    .click-1 p {
        font-size: unset;
    }
}

@media (max-width: 640px) {

    h1,
    .h1,
    h2,
    .h2,
    h3,
    .h3 {
        margin-top: 0px;
        margin-bottom: 0px;
    }
}

@media (max-width: 736px) {
    body {
        width: fit-content;
        overflow: auto !important;
    }

    .carousel.slide {
        top: 100px;
    }

    .carousel-caption.lorem h1 {
        font-size: 1.5em;
    }

    .carousel-caption.lorem p {
        font-size: 1em;
    }

    .end-blog p {
        padding: 15px 0px;
        font-size: unset;
        line-height: unset;
    }
}

@media (min-width: 768px) {
    .col-md-4 {
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: unset;
    }
}

@media (max-width: 800px) {
    body {
        width: fit-content;
        overflow: auto !important;
    }

    .carousel.slide {
        top: 100px;
    }

    .carousel-caption.lorem h1 {
        font-size: 1.5em;
    }

    .carousel-caption.lorem p {
        font-size: 1em;
    }

    .end-blog p {
        padding: 15px 0px;
        font-size: unset;
        line-height: unset;
    }
}

@media (max-width: 1080px) {
    body {
        width: fit-content;
        overflow: auto !important;
    }

    .carousel.slide {
        top: 100px;
    }

    .carousel-caption.lorem h1 {
        font-size: 1.5em;
    }

    .carousel-caption.lorem p {
        font-size: 1em;
    }

    .end-blog p {
        padding: 15px 0px;
        font-size: unset;
        line-height: unset;
    }
}

@media (max-width: 991px) {

    body {
        width: fit-content;
        overflow: auto !important;
    }

    .carousel.slide {
        top: 100px;
    }

    .carousel-caption.lorem h1 {
        font-size: 1.5em;
    }

    .carousel-caption.lorem p {
        font-size: 1em;
    }

    .end-blog p {
        padding: 15px 0px;
        font-size: unset;
        line-height: unset;
    }

    .card-body2 h4 {
        font-size: 1em;
    }

    .card-body2 ul li {
        display: inline;
        margin: 0 3px;
    }

    .portfolio {
        justify-content: center;
    }

    .portfolio .col-md-4 {
        max-width: unset;
    }
}